.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.title-box {
	background: rgba(255,255,255,1);
}
.info h4 {
	margin: 0 0 2px;
	color: #777;
}
.info p {
	margin: 0px;
	color: #777;
}
.legend {
	line-height: 19px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.legend img{
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 1;
}
.circle {
	border-radius: 25px;
	box-sizing: border-box;
}
.circle-small {
	border-radius: 25px;
	box-sizing: border-box;
	height: 10px !important;
	width: 10px !important;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 12px !important;
}
.line {
	height: 5px !important;
	margin-top: 7px;
}
.square {
	box-sizing: border-box;
}
.popupTable table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
}
.popupTable th {
	background-color: #cccccc;
}
.popupTable table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.popupTable table tr:nth-child(odd) {
	background-color: white;
}
.locationSelector {
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.locationSelector select {
	width: 100%;
	border: solid white;
	border-radius: 5px;
	/* font: 14px/16px Arial, Helvetica, sans-serif; */
	
	height: 26px;
	
	/* can remove default styling but no pure css for this element */
/* 	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;       
	background-image: url(../icon/polling-1.png);    */
}
