<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	<div class="section">
		<h3># <span>About</span></h3>
		<div>
			<div class="row">
				<div class="col-md-12">
					<p>These pages contain specialised views of tables from a postgres database. For more requests <a href="mailto:robert.spiers@guildford.gov.uk&amp;subject=Postgres Viewer (Node)">Contact Guildford's GIS team</a>.</p>
					<p>You may also like to check <a href="http://gis.guildford.gov.uk/">iShare GIS</a> - our intranet GIS.</p>
				</div>
			</div>
		</div>
	</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
    
</body>
</html>