<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>SNN Viewer</title>
<link rel="icon" type="image/png" href="<%= process.env.iisnodeRoute %>/public/src/img/map-512.png">

<!-- inject:css -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<style>
	body { 
		padding-top:25px; 
	}
</style>